@import url(https://fonts.googleapis.com/css?family=Gafata|Lato:300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(https://fonts.googleapis.com/css?family=Cantarell:400,700);

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: Lato, sans-serif;
  	margin-bottom: 110px;
}

a {
    color: #121212;
    text-decoration: none;
}
a:hover {
    color: #333;
}


.breadcrumb {
    background: #FFF;
    border-radius: 0;
    padding-left: 0;
}

.row-margin {
  margin-bottom: 50px;
}
.text-center {
    text-align: center;
}
.pagination {
    margin-top: 0;
}
.pagination > li > a, .pagination > li > span {
    color: #121212;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #f5f5f5;
    border-color: #DDD;
    color: #121212;
    cursor: default;
    z-index: 2;
}
.page-title {
    margin-top: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #DDD;
    padding-bottom: 10px;
}

.navbar-inverse .navbar-toggle {
    margin-right: 5px;
}

.navbar {
    border-radius: 0;
}
.navbar-inverse .navbar-brand {
    font-family: "Roboto Slab", sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #FFF;

}
.navbar-brand:hover {
    color: #FFF;
}

.btn {
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #DDD;
}
.btn-default {
    background: #f5f5f5;
}

.btn-primary {
    background: #2d8b6e;
    border-bottom: 2px solid #165340;
    border-radius: 0;
    color: #fff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #2d8b6e;
    border-color: #2d8b6e;

}

/* front page styles */

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 110px;
    background: #f2f2f2;
    border-top: 3px solid #CCC;
}

.panel-footer {
    background: transparent;
    box-shadow: none;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    border: 0;
    margin: 0;
}
.panel-footer .panel-heading {
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #DDD;
    padding: 0;
    line-height: 25px;
    text-transform: uppercase;
}
.panel-footer > .panel-body {
    padding: 0;
}
.panel-footer > .panel-body > ul {
    list-style: none;
    list-style-position: outside;
    padding: 0;
    margin: 0;
}
.panel-footer > .panel-body > ul > li {
    line-height: 25px;
}
.panel-footer > .panel-body > ul > li > a {
    color: #555;
}
/* end footer */

/* product item styling */
.product-item {
    border: 1px solid #DDD;
    background: #FFF;
    margin-bottom: 20px;
    overflow: hidden;
}

.page-products .product-item .photo {
    height: 263px;

}

.page-front .products-featured .product-item .photo {
    height: 323px;
}

.page-product .product-item .photo {
    height: 171px;
}

.product-item .photo img {
    margin: 0 auto;
    width: 100%;
}
.product-item .info {
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    line-height: 30px;
}
.product-item:hover .info {
    background-color: #f2f2f2;
}
.product-item .product-name {
    margin: 0;
    line-height: 30px;
    border-top: 1px solid #CCC;
    border-bottom: 1px dotted #999;
}
.product-item .product-name a {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 60px;
    font-size: 15px;
    color: #121212;
    font-weight: bold;
}
.product-item:hover .product-name a {
    background: #FFF;
    color: #121212;
}
.product-item .price {
    /*width: 50%;*/
    
    font-size: 14px;
    font-weight: bold;
    color: #121212;
}
.product-item .stock {
    font-size: 13px;
    font-weight: bold;
    color: #2d8b6e;
}
.product-item .stock-last {
    color: #d9534f;
}
.price-text-color {
    color: #219FD1;
}
.clear-left {
    clear: left;
}
.product-item .separator p {
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}
.product-item .separator p i {
    margin-right: 5px;
}
.product-item .btn-add {
    width: 50%;
    float: left;
}
.product-item .btn-add {
    border-right: 1px solid #E1E1E1;
}
.product-item .btn-details {
    width: 50%;
    float: left;
    padding-left: 10px;
}
.product-item:hover .btn-cart {
    background: rgba(237, 85, 101, 1);
    background: -moz-linear-gradient(45deg, rgba(237, 85, 101, 1) 0%, rgba(213, 65, 81, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(237, 85, 101, 1)), color-stop(100%, rgba(213, 65, 81, 1)));
    background: -webkit-linear-gradient(45deg, rgba(237, 85, 101, 1) 0%, rgba(213, 65, 81, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(237, 85, 101, 1) 0%, rgba(213, 65, 81, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(237, 85, 101, 1) 0%, rgba(213, 65, 81, 1) 100%);
    background: linear-gradient(45deg, rgba(237, 85, 101, 1) 0%, rgba(213, 65, 81, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ed5565', endColorstr='#d54151', GradientType=1);
    color: #FFF;
}

.product-actions {
    margin-top: 20px;
}
.product-info {
    height: 40px;
    margin-top: 20px;
}
.product-menu {
    margin-top: 20px;
}
textarea.form-control {
    height: 150px;
}
/* end product item styling */


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 1;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color:#555;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
  opacity: .75;
}